@import "../../styles/Variaveis";

.rodape {
  display: flex;
  justify-content: center;
  font-family: $fonte-padrao ;
  font-size: 18px;
  gap: 20px;
  background: #212121;
  height: 100px;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
}
