@import "../../styles/Variaveis";

.voltar {
  font-family: $fonte-especial;
  font-size: 22px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  width: 40px;
  height: 28px;
  background-color: $color-site;
  border-radius: 4px;
  margin: 20px;

  &:hover {
    background-color: $text-title;
    color: white;
    transition: 0.4s ease-in-out;
  }
}

.error {
    display: flex;
    justify-content: center;
    margin: 40px;
    height: 600px;
  }
  
  @media screen and (max-width: 480px) {
    .error{
      width: 300px;
      height: 250px;
      margin: auto;
      padding-top: 250px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .error{
      width: 600px;
      height: 400px;
      margin: auto;
      padding-top: 150px;
    }
  }